{
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.homeimage {
  position: relative;
  top: 75px;
  left: 10px;
height: 75px;
width: 75px;
}

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
  border-style: solid;
    border-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-color: rgb(255, 255, 255);
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  border-style: solid;
  border-width: 0.5px;
    border-left-width: 0.5px;
    border-right-width: 0.5px;
    border-color: rgb(255, 255, 255);
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

label {
  margin:0 40px 0 0;
  font-size: 26px;
  line-height: 50px;
  display: none;
  width: 26px;
  float: left;
}

#toggle {
  display:none;
}

@media only screen and (max-width: 500px) {
label{
  display: block;
  cursor: pointer;
}
.topnav{
  text-align: center;
  width: 100%;
  display: none;
}
.topnav a {
  display: block;
  margin: 0;
  width: 100%;
}
#toggle:checked + .topnav {
  display: block;
 
}
}

/* Create three unequal columns that floats next to each other */
.column {
  margin: auto;
  float: middle;
  padding: 10px;
  font-size: 15px;
  height: 300px; /* Should be removed. Only for demonstration */
}


/* Middle column */
.column.middle {
  width: 75%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}